%p#notice= notice

%table
  %thead
    %tr
      %th 文件名
      %td= @resource.path
    %tr
      %th 下载链接
      %td= link_to @resource.link, @resource.link
    %tr
      %th MIME Type
      %td= @file.contentType
    %tr
      %th 文件大小
      %td= number_to_human_size @file.length

= link_to '编辑', edit_manage_bucket_resource_path(@bucket, @resource)
\|
= link_to '返回', manage_bucket_resources_path(@resource.bucket)
